<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8207888206645541~6785041176</string>
	<key>UIAppFonts</key>
	<array>
		<string>FarelComic.ttf</string>
	</array>
</dict>
</plist>
